$header-height: 100px;
$container-x-padding: 50px;

x .header {
  min-height: $header-height;
  width: 100%;
  padding-left: $container-x-padding;
  padding-right: $container-x-padding;
}

.show {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.none {
    display:flex;
    justify-content: space-between;
    margin-right: 2rem;
} 
.menu {
  display: flex;
  align-items: start;
  gap: 40px;

  > li {
    display: inline-block;

    Link {
      cursor: pointer;
    }

    a {
      font-family: Alumni;
      font-size: 2em;
      font-style: italic;
      color: #000000;
      letter-spacing: 0.05em;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 40px;

  > a {
    > img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}

footer {
  position: relative;
  height: 70px;
  margin-top: -50px;
  margin-right: 50px;
  background: #ddd;
}

input#openable {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;

  &:checked {
    & ~ main {
      display: flex;
    }

    & ~ .hamburger {
      span {
        opacity: 0;
      }

      &:before {
        transform: translate3d(0px, 12.5px, 0) rotate(225deg);
      }

      &:after {
        transform: translate3d(-0px, -12.5px, 0) rotate(-225deg);
      }
    }
  }
}
.hamburger {
  position: absolute;

  top: 10px;
  right: 30px;
  width: 30px;
  height: 25px;
  z-index: 10;
  &:before,
  span,
  &:after {
    position: absolute;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    height: 2px;
    background: #333;
    transition: all 0.4s ease-in-out;
    content: '';
  }

  &:before {
    top: 0%;
  }

  span {
    top: 50%;
  }

  &:after {
    top: 100%;
  }
}
.hamburger_box {
  display: none;
}

@media screen and (max-width: 480px) {
    .none {
        display: none;
    }
  .show {
   
    
  }
  .menu {
    display: block;

    li {
      display: block;
    }
  }
  .hamburger_box {
    display: block;
  }
}
